*{
    text-align: left;
    float: left;
    


}


h2{
    font-size: 12pt;
}

.inputBox{
    background-color: lightgray;
    border-color: black;
    padding: 1vw;
    padding-left: 3vw;
    margin: 1vw;
    width: 15vw;
    border-radius: 12px;
    height: 95vh;
}

